test_basic
test_large
test_mul
test_stochastic
test_tdiv
test_large
test_addsub_avx2
test_random
test_hash
test_shift
test_bitops
test_mul_exhaustive
test_sqr
test_isqrt
test_toom3
test_addmul
test_pow
compute_pi
compute_e
compute_bitops
