test_basic
test_large
test_mul
test_stochastic
test_tdiv
test_large
test_addsub_avx2
test_random
test_hash
test_cache
test_shift
test_bitops
test_mul_exhaustive
test_sqr
test_div_newton
test_isqrt
test_toom3
test_addmul
test_pow
test_str
test_div_pow2
test_divisible
test_gcd
test_combin
test_ntt
test_root
test_is_power
test_xgcd
test_inv_mod
test_numtheory
test_removefactor
compute_pi
compute_e
compute_bitops
